[2017-08-21 07:21] Michaelvilleneuve opened #1 "Support crop on Android"
UI is working just fine on Android but crop method has yet to be ported to android. OpenCV being available on android too, that should not be too long

[2017-08-21 07:24] Michaelvilleneuve opened #2 "Ditch OpenCV in favor of native iOS Core graphics code"
Some issues with native iOS library CoreGraphics forced me to use openCV.
But the following code is very close to work, just need to figure out in which orientation the result image must be
[code]

[2017-08-29 13:05] SainiRohitSeasia opened #3 "" React Native perspective image cropper " android compatible ?"
Is this library compatible with both android and ios  by using image's base64 path ?

[2017-08-29 13:28] Michaelvilleneuve commented on #3
The JS and UI part is fully android compatible but I'm still working on making the actual crop method work.

This should not be too long but it has yet to be implemanted

[2017-08-29 13:49] Michaelvilleneuve commented on #3
I close this issue in favor of #1

[2017-08-29 13:49] #3 closed

[2017-09-02 23:11] mikasjoman commented on #2
Any progress on this? I am having major issues importing OpenCV to my project. It just wont build at all. Cheers

[2017-09-03 05:14] Michaelvilleneuve commented on #2
Hi, I haven't been able to work on it for the last two weeks. I was even thinking of adding a pure JS solution but I wont be able to work on it before next week.

In the meantime could you please post an issue regarding your error. I'll try to help, it may help other people as well.

[2017-09-13 21:17] mikasjoman opened #4 "Cant get Open CV to work"
I get multiple issues when trying to add Open CV to my project. So my first error in XCode...

ld: framework not found opencv2
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I then tried to add it manually to the Build Phases > Link Binary with Libraries I get the follwing error

/Users/mika/Library/Developer/Xcode/DerivedData/JuliaStudy-civerreznbtmgwezznnemirozx

[2017-09-14 04:28] Michaelvilleneuve commented on #4
Actually adding openCV is normally pretty easy on iOS. The linker error is straightforward, there is a reference to the framework but it can't be found.
You must add the opencv2.framework to both your main xcode project and the Library. Right click on your project, add files -> choose your opencv2.framework. Repeat with the Library/React-native-perspective-image-chopper folder.

The second error h

[2017-09-14 20:08] mikasjoman commented on #4
Got it. I guess this has to do with me not being an iOS dev, I am just banging my head against the wall here :( I must be doing something stupid here, because my project builds when I remove the OpenCV framework and your module to XCode, but when I add them I get multiple different errors. I understand you don't have time to fix the iOS Core Graphics solution... do you think you would have time to

[2017-09-15 09:16] Michaelvilleneuve commented on #4
Tell me if this helps https://youtu.be/aZ8j_M_837Q

[2017-09-29 12:31] #4 closed

[2017-10-01 16:55] mikasjoman commented on #4
Nope. Tried over and over and over again, and no luck. Sorry that I didn't answer, but I really wanted to put some hours down before I said I couldn't get it working.
Some of the initial instructions differ from what I am able to do, for example I have to install the react-native-svg by "npm install --save react-native-svg && react-native link", but now I have issues with RNSVG giving me build fai

[2017-10-06 13:24] mk-coding opened #5 "The base64 image is not displayed"
The base64 image is not displayed and the corners are all at the same place Did I miss something ?

`import React from "react";
import { StyleSheet, View, Image, Text, TouchableOpacity } from "react-native";

import CustomCrop from "react-native-perspective-image-cropper";

class CropImage extends React.Component {
  constructor() {
    super();
    this.state = {
      image: "",
      initialIma

[2017-10-06 13:55] mk-coding commented on #5
I got it, <CustomCrop> element simply doesn't re-render after a setState.
My solution:
[code]

[2017-10-09 13:47] #5 closed

[2017-10-12 13:46] nabati opened #6 "Option to use file URI's instead of base64 for input/output"
For performance and compatibility. Let me know if you think it's a good idea.

[2017-10-12 13:47] nabati opened #7 "Add working Example to /Example"
Would make it easier to test out the features of the lib.

[2017-10-12 13:49] dbvt10 opened #8 "error: method does not override or implement a method from a supertype"
Hy, the following error happened to me after rnpic install & link & build:

[code]
[code]
any quickfix? :)
thank you

[2017-10-12 13:56] Michaelvilleneuve commented on #6
Same as the scanner, would be a great option ! Actually in production the communication between both for one image lasts around 200ms, I'm sure we could greatly improve that by passing file's uri

[2017-10-12 13:58] poyannabati commented on #6
I'll look into it soon!

[2017-10-12 14:00] Michaelvilleneuve commented on #8
Simply remove `react-native-perspective-image-cropper` from your android dependencies. :)

Android is not supported yet.

[2017-10-12 14:03] Michaelvilleneuve commented on #6
If your projects lead you to work regularly on scanners I would be happy to add you as a collaborator. Especially since I don't work on it for now !

[2017-10-12 19:05] devvtms commented on #8
thnx, thats nice :)

[2017-10-30 00:46] trymbill commented on #2
I would love to see this in there. OpenCV is a pretty big library so having it replaced with something that we get natively with iOS would be a huge bonus. Thanks for a great package!

[2017-11-11 15:29] blaues0cke commented on #1
@Michaelvilleneuve Just to be sure: Do you have already any progress or (un)table Android code on this as you said in #3? Thinking about implementing this otherwise.

[2017-11-11 15:45] Michaelvilleneuve commented on #1
Hi, I have not been able to work on it. Would be awesome if you could manage to get it to work :)

[2018-02-05 09:51] willelundborg commented on #2
Hi @Michaelvilleneuve - Can I ask if you will still attempt to tackle this topic? Thanks!

[2018-02-05 09:57] Michaelvilleneuve commented on #2
hi @willelundborg, no unfortunalty I'm not working actively on this anymore

[2018-02-05 10:08] willelundborg commented on #2
Ok, I understand. What was the remaining issue about determining orientation you mentioned in the original issue? Do you think its worth if I try to get someone else to take a look?

[2018-02-05 10:12] Michaelvilleneuve commented on #2
Sure that would be great. Try with the above code you will see :).
I could not manage to get the orientation right.
iOS core Image uses a specific orientation when computing image and I believe I was not providing coordinates in the right order. It worked sometimes but the image was reversed.
Eventually I missed something and it could be easy to fix :).

[2018-06-29 10:36] zedtux commented on #8
I'm adding `react-native-perspective-image-cropper` to my Android app as `react-native-document-scanner` doesn't support Android, and this project is mentioned from [the `react-native-document-scanner`'s README.md file](https://github.com/Michaelvilleneuve/react-native-document-scanner) and I'm facing this issue when compiling my Android app.

Obviously @Michaelvilleneuve your solution isn't for m

[2018-06-29 10:48] zedtux commented on #8
So based on [the Java ReactPackage](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/ReactPackage.java), removing the offending method seem to fix this issue.

The final file looks like the following :

[code]

@Michaelvilleneuve not sure if you need to manage versions or anything, otherwise I can open a PR if you'd like to. Let me know.

[2018-06-29 11:19] Michaelvilleneuve commented on #8
@zedtux This lib does not support android either 😞

[2018-07-02 04:37] zedtux commented on #8
Sorry @Michaelvilleneuve but I'm not following you...

By "This lib" do you mean `react-native-perspective-image-cropper` ?
If it is, then why is "this lib" suggested from the `react-native-document-scanner` documentation?

`react-native-perspective-image-cropper` is working well on my Android phone BTW.

[2018-07-02 05:55] Michaelvilleneuve commented on #8
Nope, I wish someone could help me implement them both. In my case, I only needed iOS so I only developped the iOS version of both

[2018-07-02 06:18] zedtux commented on #8
Okay, thank you for your replies 👍

[2018-08-28 13:40] tskorupka opened #10 "Could not build"
Hello,

I could not build RNCustomCrop.

What failed?

Failed: `#1 line: #import <opencv2/opencv.hpp>` for file CustomCropManager.mm.
During build there was issue: Lexical or Preprocessor Issue. `'opencv2/opencv.hpp' file not found`.

Done everything like was written in README.md on repository.

[2018-08-28 14:01] Michaelvilleneuve commented on #10
Hi ! OpenCV can sometimes be a pain in the ass to install...
Try this and tell me if it helps : https://www.youtube.com/watch?v=aZ8j_M_837Q&feature=youtu.be

[2018-08-28 14:12] tskorupka commented on #10
I think I found how to resolve issue.

First by adding $(PROJECT_DIR)/../../../ios to Header Search Paths and Framework Search Paths.
Secondary by reading library in Link Binary with Libraries under Build Phases.

[2018-08-30 13:53] tskorupka opened #11 "base64 provided to Image.getSize()"
There is issue with base64 which is provided to Image.getSize() it should not be raw, it should be with prefix added of: `data:image/jpeg;base64`

[2018-08-30 13:57] tskorupka commented on #11
#12 fixes it

[2018-08-30 14:00] Michaelvilleneuve commented on #11
Thanks

[2018-08-30 14:00] #11 closed

[2018-08-30 14:00] #10 closed

[2018-08-30 14:12] tskorupka opened #13 "CustomCrop does not update on componentWillMount."
`CustomCrop` is not updated (width/height/initialImage) on componentWillMount.

[2018-08-30 14:13] tskorupka opened #14 "CustomCrop is not updated after bound updateImage method."
CustomCrop is not updating image after successfully cropping image.

[2018-10-24 14:12] qualwebs opened #16 "Unable to drag the coordinates on image"
Hello, thank you for your contribution. I am trying to implement a scanner with cropping functionality with the help of your another react-native library.

I have reached almost to the end of that functionality and stuck at cropper. Everything is working fine except resizing the crop area. Coordinates are generating based on the received output from the scanning library but I am not able to drag a

[2018-11-17 09:10] #16 closed

[2019-01-22 16:35] piapatricktresp opened #17 "Working Example - Cannot convert undefined or null to object"
Hi,
i do understand, that i need to have an image loaded and then convert it to a base64 string...
Is there any working example available? I did try to reverse engineer it, but i am getting more and more errors while doing it.

Thanks for any help...

[2019-02-01 15:38] danmoebius opened #18 "Cropping not correct and on head"
Hi,
i got to implement your package in my react native app. But i get trouble with the output image. If i use the full image size as rectangle coordinates, i will get only a part of the document, but not the full one. Second problem is, that the image will be on head. Have you any idea to solve these troubles? How decide opencv to get only part of the document? If there any properties to handle op

[2019-02-06 08:45] danmoebius commented on #18
Could be closed. I found the issue on my own, regarding to wrong rectangle coordinates.

[2019-02-06 08:45] #18 closed

[2019-04-19 10:33] GeorgS opened #20 "Bitcode Error"
I linked openCV and the required libs successfully, but I am stuck at the following error, any hints?

[code]

[2019-05-21 10:20] #20 closed

[2019-05-21 10:21] Michaelvilleneuve commented on #20
Fixed by 1832cb84a2ccd6369f098655788fd5d4093b6be4 openCV is not needed anymore on ios

[2019-05-21 10:23] Michaelvilleneuve commented on #14
Hi the updated image is returned in base64 on the updateImage callback, can you check if you are receiving it ? Also please try latest version see if it fixes it, I'll close in the meantime, feel free to reopen

[2019-05-21 10:23] #14 closed

[2019-05-21 10:24] Michaelvilleneuve commented on #6
Fixed by 1832cb84a2ccd6369f098655788fd5d4093b6be4 input must now be a file path

[2019-05-21 10:24] #6 closed

[2019-05-21 10:25] #1 closed

[2019-05-21 10:25] Michaelvilleneuve commented on #2
This has been fixed by 1832cb84a2ccd6369f098655788fd5d4093b6be4 :)

[2019-05-21 10:25] #2 closed

[2019-05-21 10:26] Michaelvilleneuve commented on #8
Fixed by 1bd80f80e919d6c00b6be9b832a1f1625495aba2 cropper is now available on both Android and iOS

[2019-05-21 10:26] #8 closed

[2019-05-21 10:26] #13 closed

[2019-05-31 16:39] nimrod-zg opened #22 "Enhancement - Better control off image scale and position"
Hi! Thanks for taking the time to make this 😄

We're facing an issue with the way the library handles positioning the image - it's set to absolute position `0,0`, and it gets stretched under other elements and even outside the screen.

Is it possible to get more control over the way the cropper positions the image? To have it scaled down to fit a parent element?

Here's a picture (of my floor, par

[2019-06-06 22:53] CSFDuarte opened #23 "error: null is not an object (evaluating '_ reactNative.NativeModules.CustomCropManager.crop')"
When trying to render the sample component from read.me file in the Android version, the app show an error related to this Native Module called CustomCropManager, which I have looked for information in google but didn't find anything.

![image](https://user-images.githubusercontent.com/11872396/59071336-98b44880-8894-11e9-8f4c-0c2517387f18.png)

[2019-06-07 05:01] Michaelvilleneuve commented on #23
Hi, your module seems to have been linked incorrectly, can you please check it, or try manual linking ?

[2019-06-10 07:47] vikasramachandran opened #24 "cv::error(): OpenCV Error: Assertion failed (scn == 3 || scn == 4) in void"
cv::error(): OpenCV Error: Assertion failed (scn == 3 || scn == 4) in void cv::cvtColor(cv::InputArray, cv::OutputArray, int, int), file /Volumes/Linux/builds/master_pack-android/opencv/modules/imgproc/src/color.cpp, line 7943
06-10 12:11:25.198 27170 27222 E org.opencv.imgproc: imgproc::cvtColor_11() caught cv::Exception: /Volumes/Linux/builds/master_pack-android/opencv/modules/imgproc/src/color.

[2019-06-10 09:02] #7 closed

[2019-06-13 14:35] zahidahmed024 opened #25 "error: cannot find symbol import org.opencv.RNCustomCropPackage;"
"dependencies": {
    "react": "16.8.3",
    "react-native": "0.59.5",
    "react-native-perspective-image-cropper": "^0.4.3",
    "react-native-svg": "^9.5.1"
  },

[2019-06-14 00:02] hoboxdomotica commented on #25
same here please help

[2019-06-14 04:35] Michaelvilleneuve commented on #24
Please provide more info :
- How did it occur?
- What was the image input ?
- What where the rectangle coordinates ?

[2019-06-14 04:38] Michaelvilleneuve commented on #25
Hi, did you properly linked the additional open cv dependency as explained in the readme ?
Do you know which line exactly causes the error ?

[2019-06-14 18:01] zahidahmed024 commented on #25
i added "import fr.michaelvilleneuve.customcrop.RNCustomCropPackage; " and removed "import org.opencv.RNCustomCropPackage" in myapplication and the error is gone ,

 :'( . now im facing failded to get image size :'(   .
would u please attach a example project .it will be helpful for us :'( :'(

[2019-06-14 19:43] Michaelvilleneuve commented on #25
I will try to provide an example project.
The error means that the native module has not been linked properly

[2019-06-16 09:36] zahidahmed024 commented on #22
@nimrod-zg can you give me your code ?? :'( .im trying for two days -_- ,and failed ? i only get one point instead of getting four point -_- .

[2019-06-17 08:50] nimrod-zg commented on #22
Sorry @zahidahmed024, proprietary code 🤷‍♂
Maybe reduce your code to the bare minimum and publish a stack overflow question?

[2019-06-19 10:19] zahidahmed024 commented on #25
hey i did it ,, i installed opencv  manually .. thank u so much  :D :D ,

[2019-06-19 10:30] Michaelvilleneuve commented on #25
Well done ! What differs from the provided documentation ? Should we update it ?

[2019-06-19 10:30] #25 closed

[2019-06-20 20:02] ethienneroy commented on #23
@Michaelvilleneuve Hi, I have the same issue and my module looks like it's linked correctly. Do you have more info of how it should be linked ?

[2019-06-21 12:22] Sride opened #26 "could not invoke CustomCropManager.crop"
on cropping image, shows error.

![Screenshot_20190621-174920](https://user-images.githubusercontent.com/7258632/59922039-2f643600-944d-11e9-80a4-6fb23da7c3e0.png)

[2019-06-24 08:40] nimrod-zg opened #27 "Getting native exception on crop - iOS"
We are getting this exception when calling `crop()` on some iPhone models. We haven't managed to pinpoint the issue exactly, but it seems to be occurring on newer models like the iPhone X, rather than on older ones like the 6. Looking online for this error and finding that the issue happens on newer, presumably faster, iPhones causes us to think it may be some timing issue with accessing the file

[2019-06-25 05:18] Sride commented on #26
@Michaelvilleneuve any idea?, I have linked manually, here is the code.

[code]

[2019-06-25 07:07] Michaelvilleneuve commented on #27
Hi !
Your params seem ok. Are you sure that the image given at this filepath exists ?
You could try to debug it step by step in xcode, that would allow you to understand when a nil object is given.

[2019-06-25 07:09] Michaelvilleneuve commented on #26
Have you properly installed OpenCV as suggested in the Readme ? This step needs to be done manually

[2019-06-25 07:09] #24 closed

[2019-06-25 07:11] Sride commented on #26
Thanks for the quick response, followed the same steps in read me, the cropper shows on clicking on the crop text in example, it shows this error.

[2019-06-25 20:45] vitornsp2 commented on #26
same probem here, any sugestion?

[2019-06-26 07:12] Sride commented on #26
@Michaelvilleneuve any suggestions?

[2019-06-26 13:36] justinsymph commented on #23
Same issue, any updates?

[2019-06-26 13:37] manchi16 commented on #23
Facing same issue.

[2019-06-26 13:39] midhundeulect commented on #23
Same error

[2019-06-26 14:11] justinjoyn commented on #23
I tried this:

`import fr.michaelvilleneuve.customcrop.RNCustomCropPackage;`
[code]

This did change the error:
![Screenshot_1561555822](https://user-images.githubusercontent.com/16077705/60186931-586c3880-984a-11e9-9e8b-7717cf166e4f.png)

[2019-06-26 14:32] Michaelvilleneuve commented on #26
Ok, obviously there seem to be a documentation problem, I am not sure which step I missed in the doc but I'll try to list the changes made to our project :

Here is our settings.gradle :
[code]

Since we are using `OpenCV` with `react-native-document-scanner` the openCV step is done once but you should be able to have the following :

package.json
[code]

settings.gradle :
[code]
notice the path c

[2019-06-26 14:34] Michaelvilleneuve commented on #23
@justinjoyn OpenCV has not been linked, please try to follow the steps mentionned here https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper/issues/26#issuecomment-505902166 and tell me if that helped

[2019-06-26 17:59] Sride commented on #26
@Michaelvilleneuve same issue exits,i have followed the steps once again, let us find the exact problem. I have my source in this [Dropbox link](https://www.dropbox.com/s/fhus8110ifp5mf4/crop.zip?dl=0). Please check the source, it seems everyone has this issue, let's solve this issue.

[2019-06-26 18:08] Michaelvilleneuve commented on #26
Have you tried using react-native-document-scanner as source for open CV lib ?
I’ll take a look at your source code tomorrow

[2019-06-26 18:14] Sride commented on #26
No, let me check that. Thanks

[2019-06-26 19:02] zahidahmed024 commented on #26
i think we should pass uri using react-native-camera package ,
cause our uri should look like this .
-> file:///data/data/com.lastscan/cache/Camera/a72a0abe-0dec-4bf1-9d54-30a5321f7e53.jpg

causes imgcodes.imread(imageuri.replace("file//,'') ,that type of function written in the bridge module ,

my assumptions -_-

[2019-06-27 06:16] manchi16 commented on #23
@Michaelvilleneuve  I just tried this with no luck. Still getting the same error.
![Screenshot_1561616140](https://user-images.githubusercontent.com/50130934/60241518-1cc88180-98d1-11e9-97ed-53b522c6d181.png)

[2019-06-27 06:25] Sride commented on #26
Tried react-native-document-scanner as source for open CV lib, same issue @Michaelvilleneuve

[2019-06-27 09:11] Sride commented on #26
@zahidahmed024, may i know, how you have linked opencv manually, which you have mentioned in this [link](https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper/issues/25#issuecomment-503500546)

[2019-06-27 10:14] nimrod-zg commented on #27
A few updates, and some more info that I should have included before -
1. We managed to recreate this on all testes iOS devices (iPhone 6, 7, X, iPad)
2. We've tried debugging this using xCode - this issue will not recreate while debugging, even if we build with Release settings, so no luck with that.
3. Something I failed to mention last time - the input image we pass to the cropper is generated

[2019-06-27 14:30] zahidahmed024 commented on #26
actually i used https://www.npmjs.com/package/react-native-opencv3 this package
and  used index.js as component
![opencv](https://user-images.githubusercontent.com/47063421/60274076-3e4d5b80-9919-11e9-8302-14acaca3e9de.PNG)

,and paste the crop method and imports in RNOpencv3Module.java file
![op](https://user-images.githubusercontent.com/47063421/60274412-d51a1800-9919-11e9-9b99-6de5851ba04b.PNG)

[2019-06-28 07:47] ElangoPrince commented on #26
@zahidahmed024, after cropping image , crop() function can't return any values, it's return error.

![Screenshot_20190628_125539_com re](https://user-images.githubusercontent.com/34785789/60326255-eb21ea00-99a6-11e9-897c-ee7ce602b0a7.jpg)

any idea about this?

[2019-06-28 10:36] zahidahmed024 commented on #26
capture image from camera , and check in console.log that u are getting uri like
-> file:///data/data/com.lastscan/cache/Camera/a72a0abe-0dec-4bf1-9d54-30a5321f7e53.jpg .
i had that issue
see the  crop method. Imgcodecs.imread() taking uri that start with file:///
[ fucntion https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper/blob/master/android/src/main/java/fr/michaelvill

[2019-07-01 06:59] Sride commented on #26
@zahidahmed024 my log url is

`content://com.re.provider/root/storage/emulated/0/Pictures/image-62b82ef6-8d2f-4822-943e-13c9dbbfc9c1.jpg`

tried with replace "content" to "file" manually, throws same error, any suggestions

[2019-07-01 09:32] Sride commented on #26
@Michaelvilleneuve any suggestions regarding this issue.

[2019-07-01 18:52] zahidahmed024 commented on #26
@Sride hey i solved that issue  by providing image path ,, imgcodecs.imread() function can read original path . see the changes ,
![cpath](https://user-images.githubusercontent.com/47063421/60459586-64e5fc00-9c63-11e9-8d71-ef21393f0f5d.PNG)

![cimage](https://user-images.githubusercontent.com/47063421/60459597-6ca5a080-9c63-11e9-994f-a5c10856eed0.PNG)

![c2image](https://user-images.githubusercont

[2019-07-02 08:36] zahidahmed024 commented on #26
@Sride actually this library is beautifully written by @Michaelvilleneuve  . but installing opencv in native android or react native is always a pain and image picker uri problem  -_-

[2019-07-02 10:35] Sride commented on #26
Yes @zahidahmed024 this is unique library, thanks for giving such a library @Michaelvilleneuve, really opencv integration is a pain.

[2019-07-04 07:28] DavitVosk commented on #26
@zahidahmed024 I tried with your proposed solution, but it does not work :(

[2019-07-04 15:41] #27 closed

[2019-07-04 15:45] Michaelvilleneuve commented on #27
Hi @nimrod-zg sorry I don’t have time to help. Have you found a way to fix your problem ?

[2019-07-04 15:51] nimrod-zg commented on #27
@Michaelvilleneuve - closed this issue now as this seems to have been some strange build issue or something. We've just finished releasing a new native version for iOS without making any changes to the code and this seems to have - somewhat frustratingly I must say - completely resolved the issue 🤦‍♂
Anyway, we're good now 🤷‍♂
Thank you!

[2019-08-05 21:27] ethienneroy commented on #26
@DavitVosk

I found the solution.
In your MainApplication.java,

import org.opencv.android.OpenCVLoader;

    public void onCreate() {
        super.onCreate();
        OpenCVLoader.initDebug();
       ...
    }

[2019-08-09 00:51] jackyleehong commented on #26
Okay. After struggle fof 2days,here is how i solve the issue completely.
1. Install opencv310 manually and import the modules
2. Copy the lib file to jnilibs folder inside android main.
3.install react native opencv3
4. Edit the build gradle to implement your imported opencv module.

[2019-09-09 19:52] zahidahmed024 commented on #22
hey did you find the solution of your problem ?? im also having this issue @nimrod-zg

[2019-10-24 09:01] SL-A-SH opened #29 "Cropper not starting"
I am using

"react": "16.8.3",
"react-native": "0.59.10",
"react-native-perspective-image-cropper": "^0.4.3",
"react-native-svg": "^9.0.0"

Platform: Android

While navigating to Cropper Component I am getting this error:

Invariant Violation: Invariant Violation: [2883,"RCTImageView",21,{"overflow":"hidden","width":360,"position":"absolute","height":"<<NaN>>","resizeMode":"contain","shouldNotifyL

[2019-10-24 09:36] #29 closed

[2019-10-25 04:39] Zayyar-DSS commented on #29
Hey Bro, How did you solve this error? If you don't mind, kindly share your solution. Many thanks.

[2019-10-25 05:49] SL-A-SH commented on #29
I was setting my **initialImage** inside `this.state` after ` componentDidMount` so I change my render method

From:
[code]

To:

[code]

Notice the if condition:

And the error was gone.

[2019-10-26 12:07] abstruse9 opened #30 "How to change Image Size in Cropper?"
![photo_2019-10-26_17-35-13](https://user-images.githubusercontent.com/20104752/67619272-17dff400-f817-11e9-8d8c-84e8df90ba7f.jpg)

Code

[code]

I'd need the Image Cropper Area (Red Border Box) to expand a bit down, so the image is seen big enough to adjust crop points

[2019-10-26 12:10] abstruse9 commented on #29
@SL-A-SH  I'm not able to get full-size of the cropper. What about you?

Check my issue here #30

[2019-10-29 07:27] Zayyar-DSS commented on #29
@SL-A-SH Thanks Bro. I can finally start the cropper. But there seems to be an error in Pod file.

[2019-10-31 12:40] SL-A-SH commented on #30
I am using RNCamera module so I forced the orientation to portrait mode. It is coming in full screen with portrait mode.

[2019-11-02 11:01] Macrew commented on #26
I'm getting issue when scanning is done the area in which scanning is done but the image is croppping somewhere else.

[2019-11-07 07:58] SL-A-SH commented on #30
Were you able to fix this? I am facing the same issue now if I use an image picker library.

[2019-11-07 08:06] abstruse9 commented on #30
@SL-A-SH Yes, a workaround is, first make sure your photo is in portrait mode from your camera, then pass the value of of the longest side of photo to the `height` , in this way the photo is always fullscreen.

If you keep the `width` as longest then it will display as in the above issue.

so just supply the prop of `height` as

[code]

[2019-11-07 08:07] #30 closed

[2019-11-07 08:56] SL-A-SH commented on #30
@abstruse9 Thanks. It did help. You can close the issue.

[2019-11-07 09:02] SL-A-SH commented on #26
The easiest way to integrate openCV was to add ` implementation 'com.quickbirdstudios:opencv:3.4.1'` in my project build.gradle file and then export RNCustomCropPackage as native-modules.

[2019-11-07 10:14] SL-A-SH commented on #30
The issue is fixed but cropping is not working correctly now. It is only crops half the image.

[2019-11-07 10:20] MITDD6338 commented on #30
when clicking the image then **cropper is not open**
anyone can help us?
@abstruse9  @SL-A-SH

[2019-11-07 10:23] SL-A-SH commented on #30
@MITDD6338 Post your error or a screenshot

[2019-11-07 10:24] abstruse9 commented on #30
@SL-A-SH Strange. Try logging the coordinates of the image in the cropper module's index.js file in the `crop()` method, and cross verify if the Cropper's coordinates match your area selection

[2019-11-07 10:40] SL-A-SH commented on #30
@abstruse9 No it does not match. The top left and top right coordinates are starting from half of the image.
Also note that my image was captured in landscape mode not portrait mode since I cannot ensure the image taken was in landscape or portrait.
So when the image was taken in landscape mode the image inside cropper is centered in the screen with black spaces above and below it and not just in

[2019-11-07 10:47] MITDD6338 commented on #30
@SL-A-SH

 **see image and video**

![Image from iOS](https://user-images.githubusercontent.com/31823903/68382258-5b245600-0179-11ea-93f8-2da30d144635.png)

[2019-11-07 10:49] abstruse9 commented on #30
@SL-A-SH

Can you post an example screenshot of your photo? and how it is aligned?

[2019-11-07 10:50] MITDD6338 commented on #30
https://drive.google.com/file/d/1FVrTt0N5cKh9EsqGnI4Y7mH_iLlEPCMA/view?usp=sharing
@SL-A-SH

[2019-11-07 11:00] MITDD6338 commented on #30
@abstruse9
your crop can be open?

[2019-11-07 11:01] SL-A-SH commented on #30
@abstruse9

This is how it appears inside cropper. The image was taken in landscape mode and is coming in the center of the screen due to your solution.

![Screenshot_20191107-162619](https://user-images.githubusercontent.com/22798524/68383406-9aec3d00-017b-11ea-984a-901d34af2451.png)

This is how it appears after cropping. Notice only half of the card is cropped even though the whole card is sele

[2019-11-07 11:03] SL-A-SH commented on #30
@MITDD6338 Have you linked this package correctly for IOS. If yes can you also post your Cropper Component where you implemented this package.

[2019-11-07 11:09] MITDD6338 commented on #30
import React, {Component} from 'react';
import {
  Dimensions,
  StyleSheet,
  Text,
  Image,
  TouchableOpacity,
  View,
} from 'react-native';
import Scanner from 'react-native-document-scanner';
import CustomCrop from 'react-native-perspective-image-cropper';

export default class Scanners extends Component {
  constructor(props) {
    super(props);
    this.state = {
      image: null,
      f

[2019-11-07 11:10] abstruse9 commented on #30
@SL-A-SH

So the way this package was probably implemented, if you take photos in landscape mode, and supply the height as long side of image, then the cropper area will be swapped, hence why you're getting wrong crop. Because Image Height does not match with Cropper Height Setting.

My solution would only work if you force all images to display as full size portrait.

If it's shot like landscape

[2019-11-07 11:11] MITDD6338 commented on #30
@SL-A-SH

yes I was linked
<img width="189" alt="Screenshot 2019-11-07 at 4 41 14 PM" src="https://user-images.githubusercontent.com/31823903/68384354-74c79c80-017d-11ea-9679-3f8ba26f608f.png">

<img width="220" alt="Screenshot 2019-11-07 at 4 40 54 PM" src="https://user-images.githubusercontent.com/31823903/68384355-74c79c80-017d-11ea-88c8-fbc0dc5c1a7d.png">

[2019-11-07 11:13] MITDD6338 commented on #30
@abstruse9
How can your Crop border like blue is visible? can u share with
because my crop was not open

[2019-11-07 11:15] SL-A-SH commented on #30
@abstruse9

I agree with you.

If I pass the original image dimension values then the image will not be centered in the screen. It will show in the top of the screen like in your screenshot and that's just bad UX.

[2019-11-07 11:23] MITDD6338 commented on #30
@SL-A-SH
can u help with I share my implementation code

[2019-11-07 11:31] SL-A-SH commented on #30
@MITDD6338 Can you just try picking an image from an image-picker and implement it with the cropper and see if it works? Also can you open a new issue as this one is closed and other people might be able to help you too.

[2019-11-07 11:39] MITDD6338 commented on #30
@SL-A-SH okay

[2019-11-07 11:44] MITDD6338 opened #31 "Image Crop is Not working (IOS)"
when clicking the image then cropper is not open
anyone can help us?
@abstruse9 @SL-A-SH

"react": "16.8.3",
"react-native": "0.59.10",
"react-native-perspective-image-cropper": "^0.4.3",
"react-native-svg": "^9.13.3"

Platform: IOS
I was Use
https://github.com/Michaelvilleneuve/react-native-document-scanner

then same page display image
and then I can use this package with the same page
https://g

[2019-11-07 12:13] MITDD6338 commented on #29
@SL-A-SH @Zayyar-DSS
In Ios cropper is Not working

[2019-11-08 03:32] Zayyar-DSS commented on #31
For Scanner, use this one [ https://github.com/Woonivers/react-native-perspective-image-cropper ] instead of Michael's. It works on both iOS and android but you'll get only black and white photo in Android.

For Cropper, I can initiate it in iOS but after you've cloned your repo in another Mac, it doesn't work. Has pod issue. So available options are [ https://github.com/ivpusic/react-native-image

[2019-11-11 21:28] valekar commented on #26
@SL-A-SH  and @jackyleehong : Could you please explain more about the way you setup your project? Also if you have a repo, that would be helpful. I am struggling to set this up

[2019-11-12 07:16] ElangoPrince commented on #26
Hi, please send your project. or uninstall
react-native-perspective-image-cropper, install "react-native-opencv3":
"^1.0.4",after that create, Custom crop component separately . then pass
the arguments through props to Custom crop component (where you
want 😊 👍).if any clarification please let me know.

On Tue, Nov 12, 2019 at 2:58 AM srinivas valekar <notifications@github.com>
wrote:

--
Thanks an

[2019-11-12 10:08] valekar commented on #26
@ElangoPrince : Thanks for the info! This react-native-opencv3 looks like really an amazing project. I would let you know once I update my code-base. :)

[2019-12-11 13:59] syedsadiqali opened #33 "cannot find symbol import org.opencv.RNCustomCropPackage;"
error Failed to install the app. Make sure you have the Android development environment set up: https://facebook.github.io/react-native/docs/getting-started.html#android-development-environment. Run CLI with --verbose flag for more details.
Error: Command failed: ./gradlew app:installDebug -PreactNativeDevServerPort=8081
/home/syed/projects/HeroMobileApp/android/app/build/generated/rncli/src/main/

[2019-12-26 17:31] hashimkhatri commented on #33
@syedsadiqali  did you find any solution?

[2019-12-26 17:34] hashimkhatri opened #35 "cannot find symbol import org.opencv.RNCustomCropPackage;"
Error:
cannot find symbol import org.opencv.RNCustomCropPackage;

after changing in MainApplication.java
import  org.opencv.RNCustomCropPackage
to
import fr.michaelvilleneuve.customcrop.RNCustomCropPackage;

still same issue. :'( I lost my 7 days on research to reslove this issue

[2019-12-26 22:22] hashimkhatri commented on #33
I find a jack its not a proper solution:
some changes in this file (node_modules\@react-native-community\cli-platform-android\native_modules.gradle)

in this variable ----> **def generatedFileContentsTemplate** (line no 8) you gonna see this **{{ packageImports }}** (line no 21) after this add **import fr.michaelvilleneuve.customcrop.RNCustomCropPackage;**

and

in this function ----> **void gener

[2020-01-17 05:21] tarunpatel004 commented on #35
@hashimkhatri Did you found any solution?

[2020-01-17 11:05] tarunpatel004 commented on #29
@SL-A-SH and @Zayyar-DSS

After applying solution I am still getting the same error.
I'm using react native document scanner from where I am getting an image and then I pass that Image's uri in to this ` updateImage={this.updateImage}`. But still I am getting invariant violation. I have tried to add base 64 as well but still error is the same.

Can you guys please help! Thanks in Advance.

[2020-01-20 06:24] SL-A-SH commented on #29
@tarunpatel004 No You need to use the property `initialImage` for setting the image you get from document scanner. The property `updateImage` is for setting the image after cropping and will be done internally by this library.

[2020-01-29 12:46] ahmetozalp commented on #31
Simulator not working.

[2020-01-30 05:56] Rishu2505 commented on #31
Image crop is not working even in real ios device same error as above.

[2020-01-30 07:56] ahmetozalp commented on #31
my project working no problem.

[2020-01-31 08:06] Michaelvilleneuve commented on #31
One of the params  you sent to the native call is nil

[2020-01-31 08:06] #31 closed

[2020-02-14 09:13] Malticonceptioni opened #36 "zahidahmed024"
i cant able to use library's function in ios. Please help me

i cant use .crop method in ios how can i add .crop method manually?

[2020-02-14 09:22] #36 closed, assigned to nobody

[2020-02-14 09:22] Malticonceptioni commented on #26
@zahidahmed024 : i cant able to use library's function in ios. Please help me

i cant use .crop method in ios how can i add .crop method manually?

[2020-02-19 15:15] armin23615 commented on #18
How did you solve this?
Can you post your code, please?

[2020-02-20 16:02] armin23615 opened #37 "Cropping not correct"
react-native: 0.60.5
react-native-perspective-image-cropper": "^0.4.4

**Original:**
![Screenshot_20200220-164834_Straight_Line 1](https://user-images.githubusercontent.com/56969846/74953136-8e75b280-5401-11ea-9c4c-146b258ceb42.jpg)

**Selected coords:**
![Screenshot_20200220-165037_Straight_Line 1](https://user-images.githubusercontent.com/56969846/74953174-9d5c6500-5401-11ea-8ab0-cdc76827eb60.jp

[2020-02-24 10:10] Whitelotuscorp opened #38 "error: cannot find symbol import org.opencv.DocumentScannerPackage"
i have imported import com.documentscanner.DocumentScannerPackage
in my myapplication file

but when i try to build project in
app/build/generated/rncli/src/main/java one file called PackageList.java

this file generates automatically and in this file it will take import as
org.opencv.DocumentScannerPackage

i can not change this file because this is system generated file

Please help me on this

[2020-02-25 03:54] maknom66 commented on #37
I faced the same issue and since no one replied i tried to fix it myself and after many hours of trial and error i did managed to fix it and enhanced the usage, use this modified component for testing

[react-native-perspective-image-cropper.zip](https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper/files/4248006/react-native-perspective-image-cropper.zip)

Make sure to chang

[2020-02-25 10:52] armin23615 commented on #37
Thank you so much, this works great!
There is just one line in index.js -> import Exif from 'react-native-exif'
It's not used anywhere and it prevents building app if 'react-native-exif' package isn't installed.

[2020-02-25 18:45] maknom66 commented on #37
Oops, my bad, i was just tinkering with exif to see if it helps and forgot to remove it, glad that it worked though :)

[2020-02-26 08:15] armin23615 commented on #38
You have to link the package manually and then import it in MainApplication.java as:
import fr.michaelvilleneuve.customcrop.RNCustomCropPackage;

Also add this line to getPackages() :
packages.add(new RNCustomCropPackage());

[2020-02-28 15:35] TakaKeiji commented on #33
Same issue here, not sure how to fix it

[2020-03-04 06:19] danmoebius commented on #18
Hi armin,

i solved this problem by pre calculation of the rectangle coordinates.

`getImageCroppingInformations = (imageWidth, imageHeight) => {
    let ratio = imageHeight / imageWidth;
    let calculatedWidth = width;
    let calculatedHeight = calculatedWidth * ratio;

    let positionLeft =
      calculatedWidth * DEFAULT_MARGIN_CROPPING_HANDLER_PERCENT;
    let positionRight =
      (calcula

[2020-03-04 14:01] ZohaibAhmad786 commented on #25
`import org.opencv.RNCustomCropPackage;
                 ^
  symbol:   class RNCustomCropPackage
  location: package org.opencv
D:\Copy Freelance Projects\PerspectiveCorpper\android\app\build\generated\rncli\src\main\java\com\facebook\react\PackageList.java:18: error: cannot find symbol
import org.opencv.RNCustomCropPackage;
                 ^
  symbol:   class RNCustomCropPackage
  location: pack

[2020-03-04 14:01] ZohaibAhmad786 commented on #25
help me out this problem.

[2020-03-06 12:01] daarkfish opened #39 "mistake -closed"
-

[2020-03-06 12:10] #39 closed, assigned to nobody

[2020-03-11 12:36] daarkfish opened #40 "Undefined symbols for architecture x86_64:"
After i yarn install the library , and pod install , when I run my project i have build error

[code]

Any idea how to solve this ?

[2020-03-13 18:36] TakaKeiji commented on #38
I'm facing the same issue

[2020-03-23 19:02] TakaKeiji commented on #35
I've just found after following the install steps the import is not made correctly
On PackageList.java:

[code]

But should be like this (I think):

[code]

Changing this on the file, resets automatically on next build command, so no clue how to ride off the error. 🤔

[2020-03-23 19:04] TakaKeiji commented on #35
Every time you make a build action this file is regenerated and your changes are lost, i don't have idea how to change, patch or fix this behavior...

[2020-03-24 21:06] clsource commented on #35
# SOLVED
The main issue is that this library is outdated. @TakaKeiji found a solution.
You just need to modify `react-native.config.js` to fix the import order.

[code]

with this change

![Sin título](https://user-images.githubusercontent.com/292738/77477181-b68a7400-6dfa-11ea-8dc5-b830fca1426c.png)

now the imports and build are ok.

![photo_2020-03-24 18 01 50](https://user-images.githubuserco

[2020-03-27 14:15] antoinerousseau commented on #6
The doc should be updated then

[2020-03-27 15:55] antoinerousseau commented on #26
having the same issue and tried everything...

this lib just doesn't work :(

[2020-03-28 19:22] Gricardov commented on #38
Did you find the solution? :((

[2020-03-29 18:39] hashimkhatri commented on #37
@maknom66
IOS still same issue please help.

[2020-03-30 21:50] Gricardov commented on #23
Did anyone fix it? :(

[2020-03-31 01:49] hashimkhatri opened #41 "Croping isue in IOS, not crop according cordinates in IOS only, Android running perfect"
Croping isue in IOS, not crop according cordinates in IOS only, Android running perfect

[2020-03-31 19:27] Gricardov commented on #24
I have the same problem when calling cropper.crop(), as the documentation says. Please help, chamo :(

[2020-03-31 19:46] Gricardov commented on #26
In which file I can find the method imgcodecs.imread() ?

[2020-04-01 08:03] Gricardov commented on #26
I've not been able to

I still haven't been able to success. Could you please tell me if you had previously installed opencv in Android Studio? Do you have a working example I can use? Thanks in advance.

[2020-04-01 08:05] Gricardov commented on #26
I still haven't been able to succeed. Could you please tell me if you had previously installed opencv in Android Studio? Do you have a working example I can use? Thanks in advance.

[2020-04-02 19:31] Gricardov commented on #23
Chamos, I found the solution. Follow this step-by-step tutorial https://brainhub.eu/blog/opencv-react-native-image-processing/
If you still experience problems, turn on the debugger and all will work fine :)

[2020-04-03 12:51] beeltec commented on #33
Hi,

the package is not yet optimized for React Native's autolinking feature. A workaround is creating a file named "react-native.config.js" in the modules root folder with the following content:
[code]

[2020-04-06 14:10] akashSilicon commented on #35
Error:
import org.opencv.RNCustomCropPackage;

symbol:   class RNCustomCropPackage
location: package org.opencv

![Screenshot 2020-04-06 at 7 36 13 PM](https://user-images.githubusercontent.com/54401499/78567475-61108700-783e-11ea-9e7e-1a13889b8381.png)

_____________________________________________________
My React Configuration

 "react": "16.11.0",
  "react-native": "0.62.0",
__________________

[2020-04-10 08:53] obi17Ismail opened #43 "TypeError: null is not an object (evaluating '_reactNative.NativeModules.RNAppstoreVersionChecker.extractMetadata')"
Please help me! God bless you

[2020-04-19 05:34] duclahoang commented on #35
@clsource Thank you so much <3

[2020-04-20 17:03] JaimePata commented on #33
Did that and the bad import was still being generated in Package.list. Do I need to do something else in order to make it work?. Seems like my react-native-config is being ignored.

EDIT: Made it work, I had a typo and wrote react-native-config.js instead of react-native.config.js

[2020-04-25 03:54] MujtabaFR commented on #26
@ethienneroy your solution actually works.. but it increases the size of my final **apk** by up to **25MB** 😧

![bb](https://user-images.githubusercontent.com/7612635/80271221-e7461d80-86c6-11ea-908c-0492a387af7a.jpg)

Because the library size is huge

![Screen Shot 2020-04-25 at 7 33 52 AM](https://user-images.githubusercontent.com/7612635/80271241-2c6a4f80-86c7-11ea-84ba-88adc8f75c93.png)

**Upd

[2020-05-18 17:08] Ahmad5448 commented on #35
@clsource where react-native config.js file is located ??

[2020-05-18 20:19] clsource commented on #35
https://github.com/facebook/react-native/blob/0.60-stable/react-native.config.js

[2020-05-21 14:14] scanifydevo commented on #40
@daarkfish Were you able to manage this issue?

[2020-05-22 20:02] scanifydevo commented on #40
I found the solution. Please remove `use_frameworks!` in your pod file

[2020-05-25 12:22] rycks commented on #35
Warning: right file name is react-native.config.js, not react-native-config.js

:-)

[2020-05-29 07:35] armin23615 commented on #26
For me, this happens only on android.
When I take photo using RN Camera, it returns "could not invoke CustomCropManager.crop".
But when I take photo with [@woonivers/react-native-document-scanner](https://github.com/Woonivers/react-native-document-scanner/) it works fine.

Image path returned from RN Camera is:
"file:///data/user/0/com.my_app/cache/Camera/351b8cab-eb13-4851-918a-0e7218c7278a.jpg"

[2020-06-01 12:58] armin23615 commented on #26
[code]

Adding this "RNCustomCropModule.java" worked for me.

[2020-06-02 14:42] shahzaibali-code opened #47 "error: cannot find symbol import org.opencv.RNCustomCropPackage;"
C:\Users\Home\Desktop\react native2\cropapp\android\app\build\generated\rncli\src\main\java\com\facebook\react\PackageList.java:19: error: cannot find symbol
import org.opencv.RNCustomCropPackage;
                 ^
  symbol:   class RNCustomCropPackage
  location: package org.opencv
C:\Users\Home\Desktop\react native2\cropapp\android\app\build\generated\rncli\src\main\java\com\facebook\react\Pack

[2020-06-02 15:09] shahzaibali-code commented on #33
@syedsadiqali  Did you solve this error ?
@JaimePata this solution not working ...

Same issue here, not sure how to fix it

[2020-06-02 15:17] JaimePata commented on #33
@shahzaibali-code the solution worked for me, but is far from ideal.
The react-native-config file that you should edit is the one from react-native-perspective-image-cropper, inside your node modules.
So everytime you install the module you should change that file.

[2020-06-02 16:14] Ahmad5448 commented on #37
can any one can send source code ?

[2020-06-02 16:14] Ahmad5448 commented on #37
source code for only file where u used this component

[2020-06-02 17:58] syedsadiqali commented on #33
@shahzaibali-code sorry I'm not working on react native for a long time.

[2020-06-03 11:10] Ahmad5448 opened #48 "not getting auto cropped image"
is this library doing auto crop or manual cropped ?
in demo it showing both but while using it just doing manual cropping
need help

[2020-06-03 11:12] Ahmad5448 commented on #47
add react- native.config.js file in root of your project  and add these lines in it
module.exports = {
    dependencies: {
      'react-native-perspective-image-cropper': {
        platforms: {
          android: {
            packageImportPath: 'import fr.michaelvilleneuve.customcrop.RNCustomCropPackage;',
          }
        }
      }
    }
  };

[2020-06-03 11:13] Ahmad5448 commented on #47
it will resolve your issue but you will face some other issues in future 📟

[2020-06-03 13:08] shahzaibali-code commented on #47
@Ahmad5448 thanks bro

[2020-06-03 13:15] shahzaibali-code opened #49 "typeError : null is not object (evaluating 'this.state.rectangleCoordinates')"
import {StyleSheet, Text} from 'react-native';
import React from 'react';

import {Colors, TouchableOpacity} from 'react-native/Libraries/NewAppScreen';
import CustomCrop from 'react-native-perspective-image-cropper';

export default class App extends React.Component {
  componentDidMount() {
    const image = 'base64ImageString';
    this.Image.getSize(image, (width, height) => {
      this.setSt

[2020-06-03 21:55] abharga2 opened #50 "Example of getting react-native-document-scanner to work with this?"
Hi! I've so far been unable to get react-native-document-scanner to work with this. Does anyone have an example of these working together somewhere?

Even a working example of react-native-perspective-image-cropper would be awesome.

[2020-06-15 09:40] skizzo commented on #41
How are people supposed to help you if you don't provide any infos at all?

[2020-06-23 13:39] rosentoshev commented on #49
I am getting the same error. Any updates?

[2020-06-30 08:49] rosentoshev opened #51 "The customCrop ref does not have a crop function."
The customCrop `ref` does not have a crop function and I cannot get the perspective image crop to work. I have `console.log` of the `customCrop` ref and the properties are in the attached screenshot below. There is no crop at all. This is the code of the render and crop function. I would appreciate any assistance to get the `react-native-perspective-image-cropper` to work as intended. My repo can

[2020-07-27 11:20] imansalhi commented on #38
same issue

[2020-07-28 12:38] Poojan31 commented on #26
Hi guys,
I have forked this lib and fixed this issue. Also added some improvements.
https://github.com/Poojan31/react-native-perspective-image-cropper

[2020-08-25 11:56] ambessh commented on #25
put this in MainApplication.java
import  fr.michaelvilleneuve.customcrop.RNCustomCropPackage;

and make a new file in node modules react native perspective image cropper folder named  "react-native.config.js"
and paste the following code within it.

module.exports = {
  dependency: {
    platforms: {
      android: {
        packageImportPath: 'import fr.michaelvilleneuve.customcrop.RNCustomCropPa

[2020-09-03 08:21] ambessh commented on #37
thankyou so so much @maknom66 .

[2020-09-07 07:15] usman64 commented on #51
Hey @rosenexpend did you find a solution? I'm getting the same issue as the image is not being cropped.

[2020-09-23 18:27] rlokesh1234 opened #52 "RNPdfScanner was not found in the UIManager"
Hi, I'm getting this error in Android. I'm using react native@0.63.1 . Please let me know if anyone having solution

[2020-09-23 18:28] rlokesh1234 commented on #41
Hey @hashimkhatri , I'm getting this error in Android.
"RNPdfScanner was not found in the UIManager". Please let me know

[2020-10-01 12:47] rosentoshev commented on #37
@maknom66 Did you manage to resolve this issue on iOS? Your version works really well on Android but as @hashimkhatri mentioned it is not cropping correctly on iOS.

[2020-10-01 14:20] rosentoshev opened #53 "Has anyone gotten the react-native-perspective-image-cropper to work according to rectangleCoordinates on iOS?"
Hello,

I am trying to add the react-native-perspective-image-cropper on both iOS and Android and based on what somebody suggested, I have gotten the library to work on Android and crop according to the coordinates. The custom fork is here: https://github.com/rosenexpend/react-native-perspective-image-cropper. While this works as well as expected on Android, it does not crop according to coordinat

[2020-10-02 00:47] rosenexpend commented on #18
@danmoebius I am working on getting the `react-native-perspective-image-cropper` to work on iOS. I created an [example](https://github.com/rosenexpend/rectangle-scanner-example) that works in a similar way to the component in my project. However, I am also experiencing an issue that the code on iOS does not seem to crop according to coordinates. It seems like you may have fixed this issue. Based o

[2020-10-03 00:08] Dheeeraj commented on #51
@rosenexpend @usman64
you seem to use useRef()

try this
`customCrop.current.crop()`

[2020-10-04 17:56] jaikumar1993 commented on #53
Facing same issue after rotating the image.

[2020-10-04 21:36] rosentoshev commented on #53
@jaikumar1993 I found someone's solution to fixing the issue [here](https://github.com/Michaelvilleneuve/react-native-perspective-image-cropper/issues/18). However, as of this moment, I cannot get it to work myself.

[2020-10-15 02:51] r0b0t3d commented on #33
@JaimePata there is 2 ways you can overcome that issue.
1. Try to make a fork of this repo then add `react-native.config.js` and use it instead. If you can make a PR, it will be great.
2. Use `patch-package`.

Currently, I used the option 2 because I have to modify the source code to fit my need.

[2020-11-02 18:06] Hosam-hsm commented on #33
Still facing the issue.

[2020-11-02 18:07] Hosam-hsm commented on #33
Still facing the issue.

[2020-11-03 06:16] venxik commented on #51
it actually does have the function, try to add`console.log()` in your updateImage function, you will see the function is being called.

[2020-11-27 11:06] dixitatest opened #54 "outside of image, crop add white background in IOS"
When the cropping area overlay are outside of the image and I try to crop the image then it add the white background to replace the outside of the image area.

in Android it not add any white background but in IOS I face this issue.
![IMG_9252](https://user-images.githubusercontent.com/69577149/100442148-94ee3480-30cd-11eb-9e84-c32230138dac.png)
![IMG_9253](https://user-images.githubusercontent.co

[2020-12-04 05:23] raazatul7 commented on #26
I'm getting this in Android-
cv::Exception: /Volumes/Linux/builds/maser_pack-android/opencv/modules/imgproc/src/color.cpp:7943: error:(-251) scn ==3 || scn == 4 in function void cv::cvtColor(cv::InputArray, cv::outputArray, int, int)

I am using your forked library. Can you help with this?

[2020-12-10 20:05] ssudekum commented on #37
@maknom66 Thanks so much for the fix! If you have time please make a PR. I would like to avoid manual inclusion of the resources if possible.

[2021-02-04 11:08] hpvnarola commented on #24
I have the same problem when calling cropper.crop(), as the documentation says. (Android)

[2021-02-04 11:15] hpvnarola commented on #52
I am getting same error in android

[2021-03-06 12:27] kavsar14 opened #56 "getting undefinded object corner.x error on custom cropper load"
![Screenshot 2021-03-06 at 5 50 36 PM](https://user-images.githubusercontent.com/49279708/110206650-009e2580-7ea5-11eb-8bdb-1ecc5e1f31ed.png)

Hello, i am getting undefined object corner.x error on cropper load..i have set all the example code mentioned things in my code..initial image etc..

[2021-03-06 13:03] #56 closed, assigned to nobody

[2021-03-06 13:04] kavsar14 commented on #56
i forgot to make Image.getSize function await

[2021-03-17 19:24] NehaSalve1393 opened #58 "Error: Exception in HostFunction: Malformed calls from JS: field sizes are different"
[[4,4,4,4,4,4,4,4,4],[2,2,2,2,2,2,2,2,2],[[9,"RCTView",171,{"top":31,"left":31,"width":39,"backgroundColor":-15427936,"borderRadius":100,"height":39,"position":"absolute"}],[15,"RCTView",171,{"top":-10,"left":10,"width":20,"backgroundColor":-15427936,"height":20,"borderRadius":0}],[17,"RCTView",171,{"top":31,"width":39,"backgroundColor":-15427936,"right":31,"borderRadius":100,"height":39,"position

[2021-03-25 12:16] mohdaamir8182 commented on #35
Thanks

[2021-03-30 20:22] AFMW commented on #26
in line 50 : Mat src = Imgcodecs.imread(imageUri.replace("file://", ""), Imgproc.COLOR_BGR2RGB);
Replace ("file://", "") to ("file:/", "")

[2021-04-29 15:14] devinjameson commented on #58
What height and width are you providing to the cropper component? I had this issue when supplying 0 to both.

[2021-05-04 17:08] meliodev commented on #24
I got same problem

[2021-05-04 18:36] meliodev commented on #24
For Imgcodecs.imread(imageUri, Imgproc.COLOR_BGR2RGB)  on RNCustomCropModule.java:
imageUri should be a file path instead of a base64 image.

[2021-05-04 23:38] meliodev commented on #37
@maknom66 Thank you for your help ! Its a far more better crop. But still needs some enhancement to be accurate. Any help from you guys would be appreciated !

[2021-06-26 14:43] umar5009 opened #60 "iOS Issue"
Hi there,
        I'm facing some issues like missing files 1. settings.gradle 2. Strings.xml in android side and some pod spec issues on iOS side. So need some help if you still providing?
Other issues we are facing: App didn't play a cropping part on iPhone, we have integrated this library into our react native app, but the cropping part is not working as seen in the video.

Thanks & Regards
Uma

[2021-11-15 07:48] MuhammadKaleem171 opened #62 "Execution failed for task ':app:checkDebugAarMetadata'."
hey i am facing a issue  Could not find org.piwik.sdk:piwik-sdk:0.0.4.  Could not find us.feras.mdv:markdownview:1.1.0.
 here is the error
Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.9/userguide/command_line_interface.html#sec:command_line_warnings
16

[2022-03-25 07:31] saniaayoub commented on #56
Please explain a bit more i am having same issue

[2022-03-25 12:16] NTJ3 commented on #26
Can you pls share location where you add this. I'm using perspective-cropper pkg

[2022-03-28 04:08] NTJ3 commented on #26
In IOS After Capturing image cropping is not working properly. Anyone has managed to solve this issue? Thanks in advance..

[2022-03-28 04:09] NTJ3 commented on #26
In IOS After Capturing image cropping is not working properly. Anyone has managed to solve this issue? Thanks in advance..

[2022-03-28 05:36] NTJ3 commented on #37
@maknom66  In android working fine, Having issue in iOS after capturing image from camera, While picking image from gallery in that scenario it's working fine.

++ @Michaelvilleneuve

[2022-07-13 12:17] cdcharlebois commented on #26
For anyone else running into this annoying error, it seems that the documentation is just wrong. The `initialImage` prop on the `CustomCrop` component expects a URI (not the base64 image as the docs suggest)  while the `updateImage` prop actually receives a b64 string with the cropped image... We were having issues with this component on both Android and iOS, and changed the `initialImage` prop to

[2022-07-13 16:57] cdcharlebois commented on #18
@danmoebius was there an alternative library that you found to provide this perspective-cropping functionality? I'm currently stuck on a similar issue

[2022-07-13 18:37] danmoebius commented on #18
@cdcharlebois i am sorry, I have no alternativ Library. I changed a lot of these library to make it useful for our case. But I think the best method will be a custom solution on your case with opencv. I know it is more work, but you are save in case of updates.

If you find another library. Let us know 😊
Best regards

[2022-07-14 12:31] cdcharlebois commented on #37
please see my PR #64

[2022-07-14 12:32] cdcharlebois commented on #18
please see my PR #64

[2022-09-22 15:27] ShoaibReactNative commented on #52
https://stackoverflow.com/questions/69216065/this-function-must-be-called-on-the-uimanager-queue

this helped me

[2022-09-22 15:30] ShoaibReactNative commented on #35
react-native.config.js file works awesome but is there any way out to add this dynamically like whenever I download the project from my source control I want just only to run yarn and that add these configuration automatically to my node_modules like [one here issue](https://stackoverflow.com/questions/69216065/this-function-must-be-called-on-the-uimanager-queue) and also the react-native.config.j